#gallery{
    display: grid;
    grid-template-columns: 1fr;
    
    @include md{
        display: flex;
        width: 50%;
        
    }
    @include lg{
        display: flex;
        width: 75%;
    }
    
}