#hero{
    display: grid;
    grid-template-columns: 1fr;

    article{
        display: grid;
        grid-template-columns: 1fr;
        &.subhero{
            display: grid;
            grid-template-columns: 1fr;

            aside{
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: #ECC375;
                padding: 16px;
                align-items: stretch;
                justify-content: right;
                
                button{
                    background-color: #FA7025;
                    border: none;
                    padding: 10px 12px;
                    width: 100%;
                    
                }
                
                &.left{
                    background-color: #D86121;
                    a{
                        margin: auto;
                    }
                }
                
                &.right{
                    background-color: #FA7025;
                    a{
                        margin: auto;
                    }
                }
                &.bottom-left{
                    margin: 16px 0px 8px;
                    img{
                        width: 63px;
                        margin: auto;
                        padding: 15px;
                        border: 5px solid white;
                        border-radius: 100%;
                        background-color: #8D4E2C;
                        
                    }
                }
                &.bottom-right{
                    margin: 16px 0px 8px;
                    img{
                        width: 85px;
                        margin: auto;
                        border: 5px solid white;
                        border-radius: 100%;
                    }
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
            
    

    @include md{
        article{
            display: grid;
            grid-template-columns: 1fr;
            &.subhero{
                display: grid;
                grid-template-columns: 1fr 1fr;
                aside{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    background-color: #ECC375;
                    &.left{
                        background-color: #D86121;
                    }
                
                    &.right{
                        background-color: #FA7025;
                    }
                    &.bottom-left{
                        margin: 16px;
                    }
                    &.bottom-right{
                        margin: 16px;
                    }
                    div{
                        display: grid;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
       
    } 

}
       