#hero{
    display: grid;

    grid-template-columns: 1fr;
    background-color: aqua;
    aside{
        display: grid;

        grid-template-columns: 1fr 1fr;
        div{
            display: grid;

            grid-template-columns: 1fr;
        }
    }



}